
/*
div {
	border: 1px solid black;
}
*/

.page-title{
  font-family: "arial black";
  margin-top: 2.65em;
  background-color: #8c0303;
  color: white;
  height: 4.50em;
  padding: 1.5em;
}

.page-title .page-title-text {
  font-weight: bold;
  font-size: 2.5em;
  margin-left: 3.0em;
}

.page-title .on-main{
  color: #cc6060;
  font-weight: bold;
  font-size: 1.33em;
}

#title_img {
  position: absolute;
}

.carousels_container {
  margin-top: 1.5em;
}

ul.carousel_list li img {
  width: 350px;
  height: 350px;
}

.bottom_panels {
  margin-top: 1.25em;
}

.panel_header {
  color: white;
  background-color: #8c0303;
  padding: 3px;
  border: 1px solid black;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  text-align: right;
}

.panel_content {
  padding: 3px;
  border: 1px solid black;
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1.25em;
}

.panel_content.hours {
  font-size: 0.75em;
}

div.hours_day {
  padding-left: 0.5em;
  float: left;
}

div.hours_hours {
  padding-right: 0.5em;
  text-align: right;
  clear: all;
}
