/*
 * gray outline: #f1f2f2;
 * cherry red: #be1e2d;
 * */
/*
div {
	border: 1px solid black;
}
*/

.page-title{
  font-family: "arial black";
  margin-top: 0.75em;
  background-color: #34282c;
  color: white;
  height: 5.50em;
}

div.page-title img {
  height: 4.75em;
	padding-top: 0.33em;
}

/* large desktop */
/*
@media (min-width: 1200px) {
*/


/* smaller desktop */
@media (min-width: 980px) {
  div.page-title img {
		padding-left: 4.0em;
  }
}

/* tablet landscape */
@media (min-width: 768px) and (max-width: 979px) {
  div.page-title img {
		padding-left: 2.0em;
  }
}

/* tablet portrait, phone landscape */
@media (max-width: 767px) {
  div.page-title img {
		padding-left: 2.0em;
  }
}

@media(min-width: 1200px) {
	.carousels_container {
  	margin-top: 2.75em;
	}
}

@media(max-width: 1199px) {
	.carousels_container {
  	margin-top: 1.5em;
	}
}

.carousel_pix {
  margin-top: 3.0em;
}

ul.carousel_list li img {
  width: 350px;
  height: 350px;
}

.page_text {
  font-family: "Arial Rounded MT Bold", Arial, Sans-Serif;
  text-align: left;
  color: gray;
  font-size: 1.6em;
}

@media(min-width: 768px) {
.foo {
  background-image: url('../img/CoT_Final_background.png');
  background-repeat: no-repeat;
  height: 500px;
}
}

.page_text_container {
  margin: 1.0em;
  margin-top: 6.0em;
  line-height: 2.50em;
}

.page_text .emphasis {
  text-align: left;
  color: #be1e2d;
  font-size: 1.1em;
}
.panel_header {
  color: white;
  background-color: #be1e2d;
  padding: 3px;
  border: 1px solid black;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  text-align: right;
}

.panel_content {
  padding: 3px;
  border: 1px solid black;
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1.25em;
}

.panel_content.hours {
  font-size: 0.75em;
}

div.table_stripe {
  background-color: #f7d4d8;
}

div.hours_day {
  padding-left: 0.5em;
  float: left;
}

div.hours_hours {
  padding-right: 0.5em;
  text-align: right;
  clear: all;
}
